.home-filter {
  @apply bg-center bg-no-repeat bg-cover;

  //background-image: image-set(
  //                url('/images/home-filter/bg-filter_3x.jpg') 3x,
  //                url('/images/home-filter/bg-filter_2x.jpg') 2x,
  //                url('/images/home-filter/bg-filter.jpg') 1x
  //);

  &__tires {
    background-image: image-set(
                    url('/images/home-filter/bg-tires_3x.jpg') 3x,
                    url('/images/home-filter/bg-tires_2x.jpg') 2x,
                    url('/images/home-filter/bg-tires.jpg') 1x
    );
  }

  &__disks {
    background-image: image-set(
                    url('/images/home-filter/bg-disks_3x.jpg') 3x,
                    url('/images/home-filter/bg-disks_2x.jpg') 2x,
                    url('/images/home-filter/bg-disks.jpg') 1x
    );
  }

  &__car {
    background-image: image-set(
                    url('/images/home-filter/bg-car_3x.jpg') 3x,
                    url('/images/home-filter/bg-car_2x.jpg') 2x,
                    url('/images/home-filter/bg-car.jpg') 1x
    );
  }
}
